// System / Log files 
*.DS_Store
*.log

// Archives
*.zip

// Sass Cache
.sass-cache

// Project files
.idea
nbproject
nbproject/private
.vscode/
.vs/

// Node / Bower
node_modules/
bower_components/

// Plugins
/plugins/*/*.md
/plugins/*/*.html
/plugins/*/package.json


// Docs
docs/_site
docs_html/
.jekyll-cache/
.jekyll-metadata

// ETC
TODO
test.html
ad.js


/_site

.git/

# ignore for now as file size is large
/views/media/amCharts
/views/media/bootstrap
/views/media/chart.js
/views/media/dataTables
/views/media/fontawesome
/views/media/highcharts
/views/media/jquery
/views/media/jquery-ui
/views/media/list.js
/views/media/moment-js
/views/media/overlayScrollbars
/views/media/pwa
/views/media/rccss
/views/media/rcimg
/views/media/textFit
