/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container{
  padding: 30px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



/*** customised ***/

.card-title {font-size:1.2rem !important;}

@media (min-width: 768px) {
  
 .navbar-dark { height: 70px !important; }
.navbar-brand img {margin-top:20px !important;}
  
}


@media (max-width: 767px) {
  
 
.navbar-brand img {   width: 64px; !important;}
  
}

