<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/home" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>
            Statistics
          </ion-list-header>
          <ion-menu-toggle autoHide="false" >
            <ion-item  routerLink="/account" routerLinkActive="" routerDirection="root" detail="false">
              <ion-icon name="apps-outline" slot="start"></ion-icon>
              <ion-label>
                India
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false" >
            <ion-item  routerLink="/account" routerLinkActive="" routerDirection="root" detail="false">
              <ion-icon name="globe-outline" slot="start"></ion-icon>
              <ion-label>
                World
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false" >
            <ion-item  routerLink="/account" routerLinkActive="" routerDirection="root" detail="false">
              <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
              <ion-label>
                Overview
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>
            Help
          </ion-list-header>
          <ion-menu-toggle autoHide="false" >
            <ion-item  routerLink="/account" routerLinkActive="" routerDirection="root" detail="false">
              <ion-icon name="help-circle-outline" slot="start"></ion-icon>
              <ion-label>
                FAQ's
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false" >
            <ion-item  routerLink="/account" routerLinkActive="" routerDirection="root" detail="false">
              <ion-icon name="logo-rss" slot="start"></ion-icon>
              <ion-label>
                Guidelines
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" >
            <ion-item  routerLink="/account" routerLinkActive="" routerDirection="root" detail="false">
              <ion-icon name="call-outline" slot="start"></ion-icon>
              <ion-label>
                Helpline
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-list-header>
            Info
          </ion-list-header>
          <ion-menu-toggle autoHide="false" >
            <ion-item  routerLink="/account" routerLinkActive="" routerDirection="root" detail="false">
              <ion-icon name="newspaper-outline" slot="start"></ion-icon>
              <ion-label>
                News Center
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false" >
            <ion-item  routerLink="/account" routerLinkActive="" routerDirection="root" detail="false">
              <ion-icon name="information-circle-outline" slot="start"></ion-icon>
              <ion-label>
                About
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-list  lines="none">
            <ion-list-header>
              Theme
            </ion-list-header>

            <ion-item>
              <ion-icon slot="start" name="moon-outline"></ion-icon>
              <ion-label>
                Dark Mode
              </ion-label>
              <ion-toggle [(ngModel)]="dark"></ion-toggle>
            </ion-item>
          </ion-list>


<!--          <ion-list lines="none">-->
<!--            <ion-list-header>-->
<!--              Tutorial-->
<!--            </ion-list-header>-->
<!--            <ion-menu-toggle autoHide="false">-->
<!--              <ion-item button (click)="openTutorial()" detail="false">-->
<!--                <ion-icon slot="start" name="hammer"></ion-icon>-->
<!--                <ion-label>Show Tutorial</ion-label>-->
<!--              </ion-item>-->
<!--            </ion-menu-toggle>-->
<!--          </ion-list>-->

        </ion-list>

<!--        <ion-list *ngIf="loggedIn" lines="none">-->
<!--          <ion-list-header>-->
<!--            Account-->
<!--          </ion-list-header>-->

<!--          <ion-menu-toggle autoHide="false">-->
<!--            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">-->
<!--              <ion-icon slot="start" name="person"></ion-icon>-->
<!--              <ion-label>-->
<!--                Account-->
<!--              </ion-label>-->
<!--            </ion-item>-->
<!--          </ion-menu-toggle>-->

<!--          <ion-menu-toggle autoHide="false">-->
<!--            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">-->
<!--              <ion-icon slot="start" name="help"></ion-icon>-->
<!--              <ion-label>-->
<!--                Support-->
<!--              </ion-label>-->
<!--            </ion-item>-->
<!--          </ion-menu-toggle>-->

<!--          <ion-menu-toggle autoHide="false">-->
<!--            <ion-item button (click)="logout()" detail="false">-->
<!--              <ion-icon slot="start" name="log-out"></ion-icon>-->
<!--              <ion-label>-->
<!--                Logout-->
<!--              </ion-label>-->
<!--            </ion-item>-->
<!--          </ion-menu-toggle>-->

<!--        </ion-list>-->




      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
