body-dark-theme {
  background: #282C34 !important;
  color: #2A323C !important;
}


body-light-theme {
  background: white !important;
  color: white !important;
}

.card-header-dark-theme {
  background: #303A46 !important;
  color: white !important;
}

.card-dark-theme {
  background: #323C48 !important;
  color: white !important;
}



.bg-dark-theme {
  background: #282C34 !important;
  color: white;
}

.navbar-light {
    background: white !important;
    color: black !important;
}

.navbar-dark {
    background: #1d2b3c !important;
    color: white !important;
}


.brand-text-light {
color:black;text-shadow: 0.5px 0.5px #FF0000;
}

.brand-text-dark {
color:white; text-shadow: 0.5px 0.5px #20EDE9;
}
