
	#twister {
    position: fixed;
    right: 24px;
    top: calc(50% + 168px);
    transform: translateY(calc(-50% - 20px));
    z-index: 99999;
    width: 175px;
    height: 140px;
}

#cubebutn, #twister, #txt_audio {
    z-index: 9999991!important;
}
#twister iframe#twisstiframe {
    position: relative;
}
button.crosscloseif {
    z-index: 999999;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 10px;
    position: absolute;
    top: -22px;
    right: 25px;
    line-height: 20px;
    box-shadow: 0px -2px 2px 1px #ccc;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;
}
