.teamImg {
    width: 180px;
    height: 180px;
}

.users-list-name {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: bold;
}

.modal-backdrop {
    z-index: -1;
}

.highlight {
    background-color: yellow;
}

#questionList li {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}